---
env:
  SBPF_ARCH_A: 'v3'
  SBPF_ARCH_B: 'v4'
  TOOLS_VERSION_A: 'v1.51'
  TOOLS_VERSION_B: 'v1.51'
jobs:
  build-examples:
    name: 'Build examples'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout repository'
      uses: 'actions/checkout@v4'
    - id: 'install-toolchain'
      name: 'Install toolchain'
      uses: './.github/actions/install-toolchain'
    - id: 'cache-deps'
      name: 'Cache dependencies'
      uses: 'actions/cache@v4'
      with:
        key: 'cargo-test-examples-${{ steps.install-toolchain.outputs.platform
              }}-${{ hashFiles(''examples/Cargo.lock'') }}'
        path: 'examples/target'
    - if: 'steps.cache-deps.outputs.cache-hit != ''true'''
      name: 'Cache dependencies'
      run: >-
        sh .github/actions/install-toolchain/scripts/cache-deps.sh
        "${{ env.SBPF_ARCH_A }}" "${{ env.TOOLS_VERSION_A }}"
        "${{ env.SBPF_ARCH_B }}" "${{ env.TOOLS_VERSION_B }}"
      shell: 'sh'
    - name: 'Build memo with sbpf'
      run: 'sbpf build'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build memo with cargo-build-sbf'
      run: >-
        cargo build-sbf
        --arch ${{ env.SBPF_ARCH_A }}
        --tools-version ${{ env.TOOLS_VERSION_A }}'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build memo with cargo-build-sbf'
      run: >-
        cargo build-sbf
        --arch ${{ env.SBPF_ARCH_B }}
        --tools-version ${{ env.TOOLS_VERSION_B }}'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build hello-dasmac with sbpf'
      run: 'sbpf build'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Build hello-dasmac with cargo-build-sbf'
      run: >-
        cargo build-sbf
        --arch ${{ env.SBPF_ARCH_A }}
        --tools-version ${{ env.TOOLS_VERSION_A }}'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Build hello-dasmac with cargo-build-sbf'
      run: >-
        cargo build-sbf
        --arch ${{ env.SBPF_ARCH_B }}
        --tools-version ${{ env.TOOLS_VERSION_B }}'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Run tests'
      run: 'cargo test'
      shell: 'sh'
      working-directory: 'examples'
name: 'Build examples'
'on':
  pull_request: null
...
