---
jobs:
  build-examples:
    name: 'Build examples'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout repository'
      uses: 'actions/checkout@v4'
    - name: 'Install toolchain'
      uses: './.github/actions/install-toolchain'
name: 'Build examples'
'on':
  pull_request: null
...
