---
jobs:
  build-examples:
    name: 'Build examples'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout repository'
      uses: 'actions/checkout@v4'
    - id: 'install-toolchain'
      name: 'Install toolchain'
      uses: './.github/actions/install-toolchain'
    - id: 'cache-test-deps'
      name: 'Cache test dependencies'
      uses: 'actions/cache@v4'
      with:
        key: 'cargo-test-examples-${{ steps.install-toolchain.outputs.platform
              }}-${{ hashFiles(''examples/Cargo.lock'') }}'
        path: 'examples/target'
    - if: 'steps.cache-test-deps.outputs.cache-hit != ''true'''
      name: 'Build test dependencies'
      run: 'cargo test --no-run'
      shell: 'sh'
      working-directory: 'examples'
    - name: 'Build memo with sbpf'
      run: 'sbpf build'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build memo with cargo-build-sbf v4'
      run: 'cargo build-sbf --arch v4'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build memo with cargo-build-sbf v3'
      run: 'cargo build-sbf --arch v3'
      shell: 'sh'
      working-directory: 'examples/memo'
    - name: 'Build hello-dasmac with sbpf'
      run: 'sbpf build'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Build hello-dasmac with cargo-build-sbf v4'
      run: 'cargo build-sbf --arch v4 --tools-version v1.51'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Build hello-dasmac with cargo-build-sbf v3'
      run: 'cargo build-sbf --arch v3 --tools-version v1.52'
      shell: 'sh'
      working-directory: 'examples/hello-dasmac'
    - name: 'Run tests'
      run: 'cargo test'
      shell: 'sh'
    working-directory: 'examples'
name: 'Build examples'
'on':
  pull_request: null
...
