---
env:
  RUST_VERSION: '1.91.0'
  SOLANA_VERSION: 'v3.1.2'
  SBPF_VERSION: '97f6ead8fe68f6329fb5015d7edbc6dcc2390d8b'
jobs:
  install-toolchain:
    name: 'Install toolchain'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'awalsh128/cache-apt-pkgs-action@latest'
      with:
        packages: 'llvm'
        version: '1.0'
    - id: 'cache-rust'
      uses: 'actions/cache@v4'
      with:
        key: 'rust-${{ env.RUST_VERSION }}-${{ runner.os }}'
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          ~/.rustup
    - if: steps.cache-rust.outputs.cache-hit != 'true'
      uses: 'dtolnay/rust-toolchain@master'
      with:
        toolchain: '${{ env.RUST_VERSION }}'
    - if: steps.cache-rust.outputs.cache-hit == 'true'
      run: 'echo "$HOME/.cargo/bin" >> $GITHUB_PATH'
    - id: 'cache-solana'
      uses: 'actions/cache@v4'
      with:
        key: 'solana-${{ env.SOLANA_VERSION }}-${{ runner.os }}-${{
              runner.arch }}'
        path: '~/.local/share/solana'
    - if: steps.cache-solana.outputs.cache-hit != 'true'
      run: >-
        sh -c "$(curl -sSfL
        https://release.anza.xyz/${{ env.SOLANA_VERSION }}/install)"
    - run: |
        SOLANA_RELEASE="$HOME/.local/share/solana/install/active_release/bin"
        SCRIPTS_DIR="$SOLANA_RELEASE/platform-tools-sdk/sbf/scripts"
        echo "$SOLANA_RELEASE" >> $GITHUB_PATH
        echo "$SCRIPTS_DIR" >> $GITHUB_PATH
    - id: 'cache-sbpf'
      uses: 'actions/cache@v4'
      with:
        key: 'sbpf-${{ env.SBPF_VERSION }}-${{ runner.os }}'
        path: '~/.cargo/bin/sbpf'
    - if: steps.cache-sbpf.outputs.cache-hit != 'true'
      run: >-
        cargo install --git https://github.com/blueshift-gg/sbpf.git
        --rev ${{ env.SBPF_VERSION }}
    - run: 'which dump.sh'
    - run: 'solana --version'
    - run: 'llvm-objdump --version'
    - run: 'llvm-readelf --version'
    - run: 'sbpf --version'
name: 'Install toolchain'
'on':
  pull_request: null
...
