# cspell:word awalsh
# cspell:word dtolnay
# cspell:word objdump
# cspell:word pkgs
# cspell:word readelf
# cspell:word rustup
---
env:
  LLVM_TOOLS: 'llvm-18-tools'
  RUST_VERSION: '1.91.0'
  SBPF_VERSION: '97f6ead8fe68f6329fb5015d7edbc6dcc2390d8b'
  SOLANA_VERSION: 'v3.1.2'
jobs:
  install-toolchain:
    name: 'Install toolchain'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Set platform identifier'
      run: echo "PLATFORM=${{ runner.os }}-${{ runner.arch }}" >> $GITHUB_ENV
    - name: 'Cache llvm tools'
      uses: 'awalsh128/cache-apt-pkgs-action@latest'
      with:
        packages: '${{ env.LLVM_TOOLS }}'
        version: '${{ env.LLVM_TOOLS }}-${{ env.PLATFORM }}'
    - name: 'Cache Rust toolchain'
      id: 'cache-rust'
      uses: 'actions/cache@v4'
      with:
        key: 'rust-${{ env.RUST_VERSION }}-${{ env.PLATFORM }}'
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          ~/.rustup
    - name: 'Install Rust toolchain'
      if: 'steps.cache-rust.outputs.cache-hit != ''true'''
      uses: 'dtolnay/rust-toolchain@master'
      with:
        toolchain: '${{ env.RUST_VERSION }}'
    - name: 'Add Rust to PATH'
      if: 'steps.cache-rust.outputs.cache-hit == ''true'''
      run: 'echo "$HOME/.cargo/bin" >> $GITHUB_PATH'
    - name: 'Cache Solana toolchain'
      id: 'cache-solana'
      uses: 'actions/cache@v4'
      with:
        key: 'solana-${{ env.SOLANA_VERSION }}-${{ env.PLATFORM }}'
        path: '~/.local/share/solana'
    - name: 'Install Solana toolchain'
      if: 'steps.cache-solana.outputs.cache-hit != ''true'''
      run: >-
        sh -c "$(curl -sSfL
        https://release.anza.xyz/${{ env.SOLANA_VERSION }}/install)"
    - name: 'Add Solana and dump.sh to PATH'
      run: |
        SOLANA_RELEASE="$HOME/.local/share/solana/install/active_release/bin"
        SCRIPTS_DIR="$SOLANA_RELEASE/platform-tools-sdk/sbf/scripts"
        echo "$SOLANA_RELEASE" >> $GITHUB_PATH
        echo "$SCRIPTS_DIR" >> $GITHUB_PATH
    - name: 'Cache sbpf'
      id: 'cache-sbpf'
      uses: 'actions/cache@v4'
      with:
        key: 'sbpf-${{ env.SBPF_VERSION }}-${{ env.PLATFORM }}'
        path: '~/.cargo/bin/sbpf'
    - name: 'Install sbpf CLI'
      if: 'steps.cache-sbpf.outputs.cache-hit != ''true'''
      run: >-
        cargo install --git https://github.com/blueshift-gg/sbpf.git
        --rev ${{ env.SBPF_VERSION }}
    - name: 'Verify solana is installed'
      run: 'solana --version'
    - name: 'Verify sbpf is installed'
      run: 'sbpf --version'
    # - name: 'Verify llvm-objdump is installed'
    #   run: 'llvm-objdump --version'
    # - name: 'Verify llvm-readelf is installed'
    #   run: 'llvm-readelf --version'
    - name: 'Verify dump.sh is installed'
      run: 'which dump.sh'
name: 'Install toolchain'
'on':
  pull_request: null
...
