---
env:
  RUST_VERSION: '1.91.0'
  SOLANA_VERSION: 'v3.1.2'
  SBPF_VERSION: '97f6ead8fe68f6329fb5015d7edbc6dcc2390d8b'
jobs:
  install-toolchain:
    name: 'Install toolchain'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'dtolnay/rust-toolchain@master'
      with:
        toolchain: '${{ env.RUST_VERSION }}'
    - id: 'cache-solana'
      uses: 'actions/cache@v4'
      with:
        key: 'solana-${{ env.SOLANA_VERSION }}-${{ runner.os }}-${{
              runner.arch }}'
        path: '~/.local/share/solana'
    - if: steps.cache-solana.outputs.cache-hit != 'true'
      run: >-
        sh -c "$(curl -sSfL
        https://release.anza.xyz/${{ env.SOLANA_VERSION }}/install)"
    - run: |
        SOLANA_BIN="$HOME/.local/share/solana/install/active_release/bin"
        SBF_DIR="$SOLANA_BIN/platform-tools-sdk/sbf"
        echo "$SOLANA_BIN" >> $GITHUB_PATH
        echo "$SBF_DIR/scripts" >> $GITHUB_PATH
        echo "$SBF_DIR/dependencies/platform-tools/llvm/bin" >> $GITHUB_PATH
    - run: 'solana --version'
    - run: 'llvm-objdump --version'
    - run: 'llvm-readelf --version'
    - id: 'cache-sbpf'
      uses: 'actions/cache@v4'
      with:
        key: 'sbpf-${{ env.SBPF_VERSION }}-${{ runner.os }}'
        path: '~/.cargo/bin/sbpf'
    - if: steps.cache-sbpf.outputs.cache-hit != 'true'
      run: >-
        cargo install --git https://github.com/blueshift-gg/sbpf.git
        --rev ${{ env.SBPF_VERSION }}
    - run: 'sbpf --version'
name: 'Install toolchain'
'on':
  pull_request: null
...
